<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sky.mapper.CategoryMapper">

    <!-- 新增菜品分类 -->
    <insert id="insertCategory">
    -- 进行添加操作时，主键为自增时无需添加主键属性
        insert into category(name,type,sort,status) values
        <foreach collection="category" item="c" separator=",">
            (#{c.name},#{c.type},#{c.sort},#{c.status})
        </foreach>

                                                        
    </insert>

    <!-- 批量删除菜品   -->
    <delete id="deleteCategory">
        delete from category where id in
        <foreach collection="ids" item="id" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
    <!-- 批量修改  -->
    <!-- 修改多列，修改的是对象类型的数组   -->
    <update id="updateCategory">
        update  category
        <trim prefix="set" suffixOverrides=",">
            <trim prefix="name =case id" suffix="end,">
              <foreach collection="list" item="c">
                  when #{c.id} then #{c.name}
              </foreach>
            </trim>
            <trim prefix="sort =case id" suffix="end,">
            <foreach collection="list" item="c">
                when #{c.id} then #{c.sort}
            </foreach>
            </trim>
            <trim prefix="status =case id" suffix="end,">
                <foreach collection="list" item="c">
                    when #{c.id} then #{c.status}
                </foreach>
            </trim>
            <trim prefix="type =case id" suffix="end,">
                <foreach collection="list" item="c">
                    when #{c.id} then #{c.type}
                </foreach>
            </trim>
        </trim>
        where id in
        <foreach collection="list" item="c"  open="(" separator="," close=")">
            #{c.id}
        </foreach>
    </update>


    <!-- 分页查询 -->
    <select id="pageQuery" resultType="com.sky.entity.Category">
    select * from category
    <where>
        <if test="name !=null and name !=''">
            and name like concat('%',#{name},'%')
        </if>
        <if test="type !=null">
            and type =#{type}
        </if>
    </where>
    order by sort asc, create_time desc
    </select>

    <!--根据类型查询分类-->
    <select id="list" resultType="com.sky.entity.Category">
        select * from category
        where status=1
        <if test="type !=null">
            and type=#{type}
        </if>
        order by sort asc,create_time desc
    </select>

</mapper>